@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

#heading {
  background-color: whitesmoke;
  text-align: center;
  padding: 3%;
}

#heading-text {
  font-family: 'Roboto', sans-serif;
  font-size: 72px;
  word-spacing: 10%;
}
